/* These are element selectors*/


a{
    color: black;
    text-decoration: none
}
           main{
               background-color: lightblue;
           }
           
/* these are class selectors. the ones with the (.)*/
           
           .heads{ 
                   color: aqua ;
                   text-align: center;
                   font-family:monospace;
                   
                    
           }
           .prime-paragraphs{
               color: chocolate;
           }
       
/* id selectors */
           #first-paragraph{
               color: darkslategray;
               
           }
    
/*layout*/

header {
    padding-top: 50px;
}

/*navigation*/
.main-nav{
    position: fixed;
    top: 0;
    width: 100%;
    
}

.main-nav ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    
    
}

.main-nav ul li{
    margin-right: 10px;
    
}

.main-nav ul li a{
    display: inline-block;
    font-family:'Helvetica', Arial, sans-serif;
    background-color: cornflowerblue;
    color:white;    
    padding: 3px 6px;
    
        
    }
.main-nav ul li a:hover{
    background-color:forestgreen;
    color:aquamarine
    
}

/*typography*/