a{
 
}

/*
Imports
*/
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i&display=swap');

@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');



/*nav*/
.mnav{
    position: fixed;
    top: 0;
    width: 100%;
}
.mnav ul{
list-style: none;
list-style-type: none;
display: flex; 

    
}
.mnav ul li{
 margin-right:2%;
    
}

.mnav ul li a{
text-decoration: none;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 1.5em;
background-color:rgba(230,230,210,0.4);

color: rgb(250,165,32);


    
}
body{
     background-image: url(autumn-1839969_1920.jpg)  
}

h1 {
font-family:'ZCOOL XiaoWei', serif;
font-size: 3em;
text-align: center;
}

/*.mnav ul li a:hover{
    
}*/
div {
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
    margin-bottom:2%;
    margin-top: 5%;
    font-size: 17em;
   
   
   


}

aside,p2:hover,strong:hover{ 
    
    background-color: rgba(30,30,30,0.5);
    
    
}
aside,p3,p2 {
font-family:'ZCOOL XiaoWei', serif;
font-size: 3em;
display: inline-block;
width: 300px;
border: px ridge; 
text-align: center;
margin-right: 15.6%;
}
    
}

p {
 font-family:'ZCOOL XiaoWei', serif;
 text-align: center;
   
}
div{
 font-size:12em;
 animation-name: slidein;
 animation-duration: 9s;

}
@keyframes slidein {
    from {
    margin-left: 100%;
    width:200%;
    }
    to {
    margin-right: left:3%;
    width: 100%
    }
p {
   text-underline-position: left
    color: aqua
    
    }
    
}
footer p {
    background-color: rgb(30,30,30,0.7);    

    font-family: "Crimson Text", serif;
    font-size: 2em;
}